<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="Chrome"></parameter>
   <test verbose="2" preserve-order="true" name="C:/Users/pande/OneDrive/Documents/Assignments_Batch_175/Selenium">
        <classes>
            <class name="com.bridgelabz.qa.seleniumconcepts.FacebookSelect">
                <methods>
                    <include name="NavigateOnFbSignUpPage_Success"/>
                    <include name="SignUpFbPage_Success"/>
                </methods>
            </class>
            <class name="com.bridgelabz.qa.seleniumconcepts.LinkedinFrameHandlings">
                <methods>
                    <include name="signUp_Page"/>
                </methods>
            </class>
            <class name="com.bridgelabz.qa.seleniumconcepts.LaunchWebinar">
                <methods>
                <include name="WebinarPage"/>
                </methods>
            </class>
            <class name="com.bridgelabz.qa.seleniumconcepts.LocatorsDemo">
                <methods>
                    <include name="locatorsDemo"/>
                </methods>
            </class>
            <class name="com.bridgelabz.qa.seleniumconcepts.RobotClass">
                <methods>
                    <include name="using_Robot_class"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>